<div ng-controller="VoteCtrl">
<div style="background-color: gainsboro;" class="jumbotron text-center wrapper">
			<h2 style="color: ghostwhite;" class="text-center">Vote</h2>
		</div>
	<div class="container">
		
		<div class="row">
			<div class="col-md-5">
				<h3>{{poll.title}}</h3>

				{{#if pollOptionsLength}}
					<small>Click on a option to vote</small>
				{{/if}}

				<div class="options-list">
					{{#each poll.options}}
						<div class="option" id="{{optionId}}" ng-click="optionClick($event)">
							<span class="option-text">{{text}}</span>
							<span class="option-votes">{{votes}}</span>
						</div>
					{{/each}}
				</div>
				
				<strong><span id="user_voted_msg"></span></strong>
				
				{{#if user}}
				<small>or add a option</small><br />
				<button ng-click="addOptions()" ng-cloak>[[addOption_status]]</button>
	  			<div class="add-option" ng-show="show_add_option_input">
	  				<input type="text" name="option" ng-model="option" placeholder="enter option and hit enter" required />
	  				<button ng-click="addOptionFormSubmit()">Add</button>
	  			</div>
	  			{{/if}}
	  			<br/>
				
			</div>
			<div class="col-md-5">
				<h3 class="text-center">Vote Status</h3>
				<canvas id="myChart" width="400" height="250"></canvas>
			</div>
			<div id="show_delete" ng-show="show_delete_div">
				<button ng-click="deletePoll()">Delete Poll</button>
			</div>
			<input type="hidden" name="userVotedFor_optionId" value="{{userVotedFor.optionId}}" id="userVotedFor_optionId" />
			<input  type="hidden" name="poll_author" value="{{poll.author}}" id="poll_author" />
			<input type="hidden" name="user" value="{{user.twitter.id}}" id="user">
			<script id="options" type="application/json">{{poll.options}}</script>
		</div><!--row-->
	</div><!--container-->
</div>